.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 800px;
  background-color: aqua;
}

.user {
  display: flex;
  padding-bottom: 20px;
}

.userPhoto {
  width: 100px;
  border-radius: 50%;
}

.paginationCont {
  display: flex;
}

.selectedPage {
  width: 30px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 20%;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.pagination {
  width: 30px;
  height: 20px;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: 20%;
  text-align: center;
}
