.nav {
  width: 100px;
  height: 1000px;
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item .active {
  color: black;
}

.item .inactive {
  color: white;
}

.friendsItem {
  padding-top: 30px;
}
